

#main {
    text-align: center;
    margin: auto;
    margin-top: 15%;
    height: 50%;
    width: 60rem;
    display: block;
    flex-direction: column;
    justify-content: center;
    font-family: "Helvetica";
    
}

#advanced-settings {
    width: 30rem;
    margin: auto;
}

#left-column {
    text-align: left;
}

#right-column {
    
}

#main-section {
    
}

#title {
    font-size: 42pt;
    font-family: "Helvetica";
    
    
}

#subtitle {
    font-size: 16pt;
    font-family: "Helvetica"
}

#menu-bar {
    text-align: right;
    font-size: 14pt;
    font-family: "Helvetica"
    
}

.time_input {
    width: 5em;
}

#css-animation {
    animation-name: advanced;
    animation-duration: 4s;
}

@keyframes advanced {
    from {height: 0px;}
    to {height: 100px;}
}
