<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
    {% if error is defined %}
                <script>
                    window.alert("{{ error }}");
                </script>
            {% endif %}

    {% block head %}
    {% endblock %}
</head>
<body>
<div id="content">
    <div id="menu-bar">
        <div id="menu-items">
        <a href="/index.html">OcGen Transcriber</a>   |
            <a href="/audioconversion">Convert Music </a> | <a href="/manual.html"> Manual</a> | <a href="/metronome">Metronome</a>
        </div>
    </div>
{% block content %}
{% endblock %}
</div>
<div id="footer">View the <a href="https://github.com/RowanAJMarshall/OcGenerator">source code</a> code on <img id="github-logo" src="{{ url_for('static', filename='GitHub_Logo.png') }}" width="50px" height="20px"> </div>
</body>
</html>