<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='animation.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
    {% if error is defined %}
                <script>
                    window.alert("{{ error }}");
                </script>
            {% endif %}
    <title>OcGenerator</title>
</head>

<body onload="onload()">
    <script>

    </script>
    <div id="menu-bar">
        About | Legal | <a href="https://github.com/RowanAJMarshall/OcGenerator">Source Code</a>
    </div>
    <main id="main">
        <h1 id="title">OcGenerator</h1>
        <section>
        
        <p id="subtitle">
            Your go-to tool for ocarina tablature generation!
        </p>
            <form enctype="multipart/form-data" action="/" method="post">
                Supported formats:
                mp3 |
                wav |
                ogg
                <br><br>
                <input type="file" name="upload" value="upload" id="choose-file">
                <input type="submit" value="Submit" onclick="ShowLoading()" id="submit">
                <br><br>

                
                <details id="advanced-settings">
                    <summary>Advanced Settings</summary>
                    <br>
                    <div>
                        Start at 
                    <input name="start" type="number" min="0" class="time_input">
                        &nbsp; &nbsp; 
                        End at
                    <input name="end" type="number" min="0" class="time_input">
                        <br><br>
                    Instrument type: &nbsp;&nbsp;
                    <select name="instrument">
                        <option value="12-hole" selected="selected">12-Hole</option>
                        <option value="11-hole" hidden="hidden">11-Hole</option>
                         <option value="10-hole" hidden="hidden">10-Hole</option>
                        <option value="6-hole">6-Hole</option>
                        <option value="4-hole" hidden="hidden">4-Hole</option>
                    </select>
                        <br><br>
                        Pitch detection algorithm: &nbsp;&nbsp;
                    <select name="pitch-algorithm">
                        <option value="yin" selected>Yin</option>
                        <option value="yinfft">Yinfft</option>
                        <option value="specacf">Spectral auto-correlation</option>
                        <option value="mcomb">Multiple-comb filter</option>
                        <option value="fcomb">Fast harmonic comb filter</option>
                        <option value="schmitt">Schmitt trigger</option>
                    </select>
                    </div>
                    
                </details>

            </form>
            <img src="http://www.drivethrurpg.com/shared_images/ajax-loader.gif" height="300px" width="300px" id="loading" style="display: none">


            <br>
            
        </section>
    </main>
</body>

