{% extends 'base.html' %}
<head>
    {% block head %}

    {% endblock %}
    <title>OcGenerator</title>
</head>

<body>
    {% block content %}
    <main id="main">
        <h1 id="title">OcGenerator</h1>
        <section>
        
        <p id="subtitle">
            Your go-to tool for ocarina tablature generation!
        </p>
            <form enctype="multipart/form-data" action="/" method="post" id="form">
                <span>Supported formats:</span>
                mp3 |
                wav |
                ogg |
                webm
                <br><br>
                <input type="file" name="upload" value="upload" id="choose-file">
                <input type="submit" value="Submit" onclick="ShowLoading()" id="submit">
                <br><br>

                
                <details id="advanced-settings">
                    <summary>Advanced Settings</summary>
                    <br>
                    <div>
                        <span title="When transcription should start and when it should end.">Transcription window:</span> &nbsp;&nbsp;
                    <input name="start" type="number" min="0" class="time_input">
                        s&nbsp; to &nbsp;

                    <input name="end" type="number" min="0" class="time_input">
                        <br><br>
                    <span title="What instrument tabs should be generated">Instrument type:</span> &nbsp;&nbsp;
                    <select name="instrument">
                        <option value="12-hole" selected="selected">12-Hole</option>
                        <option value="11-hole" hidden="hidden">11-Hole</option>
                         <option value="10-hole" hidden="hidden">10-Hole</option>
                        <option value="6-hole">6-Hole</option>
                        <option value="4-hole" hidden="hidden">4-Hole</option>
                    </select>
                        <br><br>
                        <span title="Algorithm used for pitch detection, for more information see the user manual">Pitch detection algorithm:</span> &nbsp;&nbsp;
                    <select name="pitch-algorithm">
                        <option value="yin" selected>Yin</option>
                        <option value="yinfft">Yinfft</option>
                        <option value="specacf">Spectral auto-correlation</option>
                        <option value="mcomb">Multiple-comb filter</option>
                        <option value="fcomb">Fast harmonic comb filter</option>
                        <option value="schmitt">Schmitt trigger</option>
                    </select>
                    </div>
                    
                </details>

            </form>
            <img src="http://www.drivethrurpg.com/shared_images/ajax-loader.gif" height="300px" width="300px" id="loading" style="display: none">


            <br>
            
        </section>
    </main>
{% endblock %}
</body>

