<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
    <title>OcGenerator</title>
</head>

<body>
    <div id="menu-bar">
        About | Legal | <a href="https://github.com/RowanAJMarshall/OcGenerator">Source Code</a>
    </div>
    <main id="main">
        <h1 id="title">OcGenerator</h1>
        <section>
        
        <p id="subtitle">
            Your go-to tool for ocarina tablature generation!
        </p>
            <form enctype="multipart/form-data" action="/" method="post">
                Supported formats:
                mp3 |
                wav |
                ogg
                <br><br>
                <input type="file" name="upload" value="upload">
                <input type="submit" value="Submit">
                <br><br>

                
                <details id="advanced-settings">
                    <summary>Advanced Settings</summary>
                    <br>
                    <div>
                        Start at 
                    <input name="start" type="number" min="0" class="time_input">
                        &nbsp; &nbsp; 
                        End at
                    <input name="end" type="number" min="0" class="time_input">
                        <br><br>
                    Ocarina type: &nbsp;&nbsp;
                    <select name="ocarina-holes">
                        <option value="4-hole">4-Hole</option>
                        <option value="6-hole">6-Hole</option>
                        <option value="10-hole">10-Hole</option>
                        <option value="11-hole">11-Hole</option>
                        <option value="12-hole">12-Hole</option>
                    </select>
                    </div>
                    
                </details>
            </form>

            <br>
            
        </section>
    </main>
</body>

