

#main {
    text-align: center;
    margin: auto;
    height: 100%;
    width: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

#main-section {
    
}

#title {
    font-size: 42pt;
    font-family: "Helvetica";
    
    
}

#subtitle {
    font-size: 16pt;
    font-family: "Helvetica"
    
}

#menu-bar {
    text-align: right;
    font-size: 16pt;
    font-family: "Helvetica"
    
}
